In [1]:
import pandas as pd
import sqlite3


conn = sqlite3.connect('criticalItems.db')    #used to create a new database
c = conn.cursor()


def run_query(query): #This function can be used to insert, select, merge, etc, any data into the created database
    return pd.read_sql_query(query, conn)

c.execute("""CREATE TABLE Critical_Items (Items TEXT, Actual_Usage FLOAT, Theo_Usage FLOAT, Variance FLOAT)""")

In [2]:
c.execute("""
INSERT INTO Critical_Items (Items, Actual_Usage, Theo_Usage, Variance)
VALUES ('Avocados', '77.06', '79.09', '+2.03')
""")

In [4]:
c.execute("""
INSERT INTO Critical_Items (Items, Actual_Usage, Theo_Usage, Variance)
VALUES ('Chicken', '2729.62', '2677.90', '-51.72')
""")

In [5]:
c.execute("""
INSERT INTO Critical_Items (Items, Actual_Usage, Theo_Usage, Variance)
VALUES ('Steak', '737.80', '691.81', '-45.99')
""")

In [6]:
c.execute("""
INSERT INTO Critical_Items (Items, Actual_Usage, Theo_Usage, Variance)
VALUES ('Cheese', '968.88', '846.31', '-122.37')
""")

In [7]:
query = """
SELECT *
FROM
Critical_Items
"""

run_query(query)

      Items  Actual_Usage  Theo_Usage  Variance
0  Avocados         77.06       79.09      2.03
1   Chicken       2729.62     2677.90    -51.72
2     Steak        737.80      691.81    -45.99
3    Cheese        968.88      846.31   -122.37

In [8]:
for row in c.execute("""SELECT * FROM Critical_Items"""):
    print(row)

('Avocados', 77.06, 79.09, 2.03)
('Chicken', 2729.62, 2677.9, -51.72)
('Steak', 737.8, 691.81, -45.99)
('Cheese', 968.88, 846.31, -122.37)